header{
    background-image: url(anh/congtruong.jpg);
    padding-bottom: 30%;
    background-size: 100% 100%;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#333;
    background-color: #fff;
    margin-left: 200px;
    margin-right: 200px;
}

.nav{
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 40px;
    background: linear-gradient(to right,#e40e60,#0374ff); 
    margin-bottom: 5px;

    box-shadow: 0 0 10px #dadde1;

}
.nav ul{
    list-style: none;
}
.nav ul li{
    float: left;
    padding: 0px 25px;
    border-right: 1px solid gray;
}
.nav ul li:hover{
    background: #1c86ff;
}
.nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Roboto Condensed',sans-serif;
}
.nav .search{
    margin-left: 90px;
}
.nav .search input{
    border-radius: 6px 0 5px;
    padding: 7px 10px;
}
.nav .search button{
    padding: 7px 10px;
    background: black;
    color: #e7e70d;
    margin-left: -5px;
}
.chuchay{
    position: relative;
    margin-top: -3px;
    
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 4px 0 0 0;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Condensed',sans-serif;
}
.duongke{
    background: gainsboro;
    height: 5px;
    margin: 10px 0;
    width: 100%;
}

aside{
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    float: right;
    width: 300px;
    border: 1px solid #16bbf1;
}
h3{
    margin: 0px;
    font-size: 20px;
    padding: 10px 15px;
    background: green;
    color: #fff;
    text-shadow: 2px 2px 5px red;
}
.menudoc ul{
    list-style: none;
}
.menudoc ul li{
    width: 270px;
    background-color: white;
    margin-left: -25px ;
    margin-bottom: 4px;
    padding: 3px;
    border: 1px solid #16bbf1; 

}
.menudoc div ul li a{
    text-decoration: none;
    line-height: 36px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}


.menudoc div ul li:hover{
    padding-left: 50px;   
}

.subnav { 
    display: inline-block;
    position: relative;
    line-height: 40px;
}

.subnav .subnavbtn { 
    border: none;
    color: white;
    background-color: inherit;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Condensed',sans-serif;
    
    
}
.subnav-content {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
}
.subnav-content .a {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 2px 0px 2px 10px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto Condensed',sans-serif;

}
.subnav-content a:hover {
    background-color: black;
    color: yellow;
}

.subnav:hover .subnav-content {
    display: block;


}
.body1{
    width: 600px;
    margin: 0px 20px;
    text-decoration: underline;
}

.body1 div h2{
    font-size: 20px;
    padding: 10px 15px;
    background: green;
}
.body1 div h2 a{
    color: white;
}
.body1 ul li a img{
    padding: px;
    border-width: 0px;    
}
.item{
    padding: 1px;
    position: relative;
    display: inline-block;
    width: 100%;
    background: rgb(221, 218, 218); 
}
.item a{
    display: block;
    overflow: hidden;
}
.item a h2{
    padding: 5px 0px 0px 10px;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.body2{
    border: 0px solid ;
    width: 3456px;

    text-decoration:none;
}
iframe{
    width: 298.1px;
}
.main{
    flex-direction: row-reverse;
}
footer{
    background-color: #16bbf1;
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    clear: both;
}

